/* 
    Document   : fonts
    Created on : Apr 20, 2013, 4:13:38 PM
    Author     : Se7en
    Description:
        Purpose of the stylesheet follows.
*/

@font-face 
{
  font-family: 'Leckerli One';
  font-style: normal;
  font-weight: 400;
  src: local('Leckerli One'), local('LeckerliOne-Regular'), url(../fonts/lecki.woff) format('woff');
}

@font-face{font-family:'Lobster13Regular';src:url('../fonts/Lobster_1.3-webfont.eot');src:url('../fonts/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Lobster_1.3-webfont.woff') format('woff'),url('../fonts/Lobster_1.3-webfont.ttf') format('truetype'),url('../fonts/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');font-weight:normal;font-style:normal;}
