/**
 *   Document    : admin-error.css
 *   Created on  : Mar 28, 2013, 3:05:45 PM
 *   Author      : Ibrahim Isa ( iblynks.com )
 *   Description : Handles error disply and message hnadler
 */
 
/*-----------------------------------------------------------------------------------*/
/*                                     Error                                         */
/*-----------------------------------------------------------------------------------*/
.error-admin,.success-admin
{    
     border                 : 1px solid #BBB;
     padding                : 5px 5px 5px 25px;
     font-size              : 13px; 
     -moz-border-radius     : 3px;
     -webkit-border-radius  : 3px;
     border-radius          : 3px;
     
}

.error-admin
{

     background             : url('../img/general/error.png') no-repeat 3px 6px #EEE;
     color                  : rgb(153, 24, 24);	 
 }
 
/*-----------------------------------------------------------------------------------*/
/*                                     Success                                       */
/*-----------------------------------------------------------------------------------*/
 
.success-admin
{   
    background : url('../img/general/tick.fw.png') no-repeat 3px 6px #EEE;
    color      : rgb(48, 119, 30);
	
}

/*-----------------------------------------------------------------------------------*/
/*                                     Genral Margins                                */
/*-----------------------------------------------------------------------------------*/

.gen-margin-one
{
    margin-bottom : 13px; 
}